body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    background-color: #d3d3d31f;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 2px; */
}
.top-bar .logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f58d08;
}
.top-bar .top-nav{
    font-size: 12px;
    display: flex;
    margin-right: 800px;
}
aside{
    background-color: #fff;
    height: 85%;
    width: 15%;
    padding-top: 6%;
 }
 .sidebar{
  top: 70px;
  left: 0;
  bottom: 0;
  width: 180px;
  background-color: #fff9f2;
  padding: 20px 10px;
}

.sidebar .logo {
  font-weight: bold;
  color: orange;
  margin-bottom: 10px;
}
.menu a{
    text-decoration: none;
    justify-content: space-between;
    color: black;
    font-size: 14px;
    padding: 10px;

} 
.board{
    padding-bottom: 10px;
    border: 1px dashed #f58d08;
    padding: 4px 8px;
    font-weight: bold;
    color: #fff;
    background-color: #f4a135;
}
.btn{
    margin-top: 100px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #f58d08;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    background-color: transparent;
    transition-duration: 0.5s;
    border-color:  #fdb85ef3;
    color: #000;
}
/* img{
  height: 50px;
  padding-top: 10px;
  margin-left: 25px;
} */
.fa{
  color: #f58d08;
}
.int{
    justify-items: end;
    top: 50px;
}
table{
    position: absolute;
    left: 200px;
    top: 100px;
    padding-top: 25px;
    margin-left: 10px;
    display: block;
    border-radius: 5px;
    /* border: 10px solid; */
    /* border-color: #ffffff68; */
     background-color: #ffffff;
    /* border-style: inset;
    border-radius: 12px; */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    width: 80%;
    height: 85%;
}
td, th{
    width: 25%;
    margin-left: 10px;
   
    border-collapse: collapse;
    background: #d3d3d354;
    border: transparent;

  color: #000;
}
img{
    height: 40px;
    padding-top: 10px;
    margin-left: 25px;
    padding-bottom: 10px;
  }